:root {
    --col-main: #000000;
    --col-main2: #383838;
    --col-nav: #303030;
    --col-accent: #bd0606;
    
    --col-accent-overlay: #bd0606CC;
    --col-accent-dark: #8b0000;
    --col-accent-darker: #700000;
    --col-text: #d2d2d2;
    --col-text2: #ffffff;
    --col-text3: #bebebe;
    

  }